{% extends "layout.html" %}
{% block body %}
  <script type=text/javascript src="{{
  url_for('static', filename='scripts/login.js') }}"></script>
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <dl>
      <dt>Email:
      <dd><input type="text" name="email" id="email" value="vandamere@gmail.com">
      <dt>Password:
      <dd><input type="password" name="pw" id="pw" value="test">
      <dd><input type=submit value=Login id="submit"><br>
      <dt><a href="{{url_for('register')}}">register</a>

    </dl>
  </form>
{% endblock %}
