{% extends "layout.html" %}
{% block body %}
<script>
    $( document ).ready(function() {
         $.ajax({
                type: "POST",
                url: "/logged_in",
                data:  {},
                success: function(data) {
                },
                error: function(data) {
                    window.location = '/';
                }
            });
        $("div.champ").click(function() {
        if( $(this).find('img.nocheck').length > 0) {
            $(this).find('img.nocheck').removeClass("nocheck");
            $(this).find('img.champ_thumbnail').css("border-color", "#3f96cf");
            //$("#Msg").html($(this).find("p").text() + " Checked");

            $.ajax({
                type: "POST",
                url: "/champSelected",
                data:  {varChampName: $(this).find("p").text()},
                success: function(data) {
                }
            });
        } else {
            $(this).find('img.check').addClass("nocheck");
            $(this).find('img.champ_thumbnail').css("border-color", "#efefef");
            //$("#Msg").html($(this).find("p").text() + " Unchecked");

            $.ajax({
                type: "POST",
                url: "/champUnselected",
                data:  {varChampName: $(this).find("p").text()},
                success: function(data) {
                }
            });
        }
    });
    });
</script>

<h2>member page</h2>
<div id="champ_box">
<p>Note: free champs have a green circle</p>
{% for champInfo in lstChamps: %}
    {% if champInfo['free'] == 1 %}
        <div class="champ free">
    {% else %}
        <div class="champ">
    {% endif %}

    {% if champInfo['Selected'] == 'true' %}
        <img class="check" src="http://i.imgur.com/fA6Z6.png" />
        <img class="champ_thumbnail free" style='border-color: #3f96cf'
     src="http://ddragon.leagueoflegends.com/cdn/5.9.1/img/champion/{{ champInfo['key'] }}.png" />
    {% else %}
        <img class="check nocheck" src="http://i.imgur.com/fA6Z6.png" />
        <img class="champ_thumbnail"
     src="http://ddragon.leagueoflegends.com/cdn/5.9.1/img/champion/{{ champInfo['key'] }}.png" />
    {% endif %}
        <p>{{ champInfo['champ'] }}</p>
    </div>
{% endfor %}

</div>



{% endblock %}