{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function(){
    $("#cancel").click(function(){
        window.location = '/';
    });//end cancel click
});//end doc ready
</script>
<div class="panel panel-primary" style="width: 450px; margin: auto">
    <div class="panel-heading">
        <p>Opt-Out</p>
    </div>

    <div class="panel-body">
        <form class="form" action="{{ url_for('processOptout') }}" method=get>
            <div class='form-group'>
              <div class='input-group'>
                   By selecting, opt-out, you will not receive any more notifications. <br/> <br/>
                  <button type="submit" value="yes">opt-out</button> &nbsp&nbsp
                  <button type="button" value="no" id="cancel">cancel</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}