{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="{{
  url_for('static', filename='scripts/register.js') }}"></script>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<div class="panel panel-primary" style="width: 350px; margin: auto">
<div class="panel-heading">
    <p>Register</p>
</div>
    <div class="panel-body">
        <div class="form-group">
            <div class='input-group'>
                <span class='input-group-addon'><span class='glyphicon glyphicon-user'></span></span>
                <input class='form-control' type="email" name="email" id="email" placeholder="Email Address"/>
                <font id="emailBlank" class="error" color="red">Please enter your email</font>
                <font id="emailFormat" class="error" color="red">incorrect email format</font>
            </div>
        </div>
         <div class='form-group'>
                <div class='input-group'>
                    <span class='input-group-addon'><span class="glyphicon glyphicon-lock"></span></span>
                    <input class='form-control' type='password' name="password" id="password" placeholder="Password"/>
                    <font id="pwBlank" class="error" color="red">Please enter password</font>
                </div>
            </div>
        <div class='form-group'>
                <div class='input-group'>
                    <span class='input-group-addon'><span class="glyphicon glyphicon-lock"></span></span>
                    <input class='form-control' type='password' name="password2" id="password2" placeholder="Enter password again"/>
                    <font id="pw2Blank" class="error" color="red">Please enter password</font>


                </div>
            </div>



          <ul style='color:red' id="pwFormat" class="error">password rules not met <br/> password requirements<br/><li>8 to 15 characters</li><li>atleast 1 lowercase</li><li>atleast 1 uppercase</li><li>atleast 1 number</li></ul>
          <div id="pwMismatch" class="error"><font color="red">passwords do not match</font></div>
          <input type="submit" value="submit" id="submit"><br><br>


      <a href="{{ url_for('verifyEmailForm') }}">resend verification email</a>
    </div>
</div>
{% endblock %}
