{% extends "layout.html" %}
{% block body %}
   <script type=text/javascript src="{{
  url_for('static', filename='scripts/sendAnotherVerification.js') }}"></script>}
<h2>Send another verification email</h2>
<p>If you lost your initial verification e-mail you may request for another to be sent.</p><br><br>
 <form class='form' id="myform">
Email: <input type="email" name="email" id="email" placeholder="Email Address" value="vandamere@gmail.com" required pattern="^[a-zA-Z0-9+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,7}$"/>
<input type="submit" value="submit">
 </form>


*2 verification emails may be requested every 48-hrs
{% endblock %}
